.glyphicon {
    margin-right: 10px;
}

.panel-body {
    padding: 0px;
}

    .panel-body table tr td {
        padding-left: 15px;
    }

    .panel-body .table {
        margin-bottom: 10px;
    }

.panel-group {
    margin-bottom: 20px;
    /*border-bottom: 5px solid #2aacff !important;*/
}

.sidebar a {
    color: inherit;
}

.panel-primary > .panel-heading {
    margin-bottom: 1px !important;
}
